@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

$black-10: rgba(0, 0, 0, 0.1);
$gray: #333;
$white: #fff;
$off-white: #f2f2f2;
$off-white-2: #fafafa;
$off-white-3: #ddd;
$red: #f1356d;
